<p><b><%= @field1 %></b> (x) and <b><%= @field2 %> (y)</b>, Proportion of Shared Variance: <%= number_with_precision( @results['eta_squared'], precision=3 ) %></p>
<p><%= image_tag @image_path %></p>
